{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Список студентов</h2>
    <hr color="#ffe500">
    {% for student in students %}
    <p>
        {{ student.student_surname }} {{ student.student_name }},
        группа {{ student.group }} - Факультет {{ student.faculty.faculty_name }}
    </p>
    {% endfor %}
{% endblock %}

{% block enter_2 %}
    <h2>Условие</h2>
    Создать базу данных для хранения информации о студентах университета.
    База данных должна содержать две таблицы: "Студенты" и "Факультеты".
    В таблице "Студенты" должны быть следующие поля: id, имя, фамилия,
    возраст, пол, группа и id факультета.
    В таблице "Факультеты" должны быть следующие поля: id и название
    факультета.
    Необходимо создать связь между таблицами "Студенты" и "Факультеты".
    Написать функцию-обработчик, которая будет выводить список всех
    студентов с указанием их факультета.
{% endblock %}