<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>меню</title>
</head>
<body>
<div>
    <a href="{{ url_for('hello1') }}">
        <button type="submit">
            нажми меня
        </button>
    </a>

    <a href="{{ url_for('uploads') }}">
        <button type="submit">
            изображение
        </button>
    </a>

    <a href="{{ url_for('login') }}">
        <button type="submit">
            login
        </button>
    </a>

    <a href="{{ url_for('count') }}">
        <button type="submit">
            подсчет слов
        </button>
    </a>

    <a href="{{ url_for('culc') }}">
        <button type="submit">
            калькулятор
        </button>
    </a>
    <a href="{{ url_for('age') }}">
        <button type="submit">
            проверка на возраст
        </button>
    </a>
    <a href="{{ url_for('num_num') }}">
        <button type="submit">
            кварат числа
        </button>
    </a>
        <a href="{{ url_for('form') }}">
        <button type="submit">
            flash
        </button>
    </a>
        </a>
        <a href="{{ url_for('index1') }}">
        <button type="submit">
            cookie
        </button>
    </a>

        </a>
        </a>
        <a href="{{ url_for('index1') }}">
        <button type="submit">
            cookie 2
        </button>
    </a>

</div>
</body>
</html>