{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Список книг</h2>
    <hr color="#ffe500">
    <div class="row">
        {% for book in books %}
            <p class="col-12 col-md-6">{{ book }}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block enter_2 %}
    <h2>Условие</h2>
    Создать базу данных для хранения информации о книгах в библиотеке.
    База данных должна содержать две таблицы: "Книги" и "Авторы".
    В таблице "Книги" должны быть следующие поля: id, название, год издания,
   количество экземпляров и id автора.
    В таблице "Авторы" должны быть следующие поля: id, имя и фамилия.
    Необходимо создать связь между таблицами "Книги" и "Авторы".
    Написать функцию-обработчик, которая будет выводить список всех книг с
   указанием их авторов.
{% endblock %}