{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/flash_style.css">
    <h1>Регистрация</h1>
    <hr color="#ffe500">
    <form method="POST" action="{{ url_for('registration') }}">
        {{ form.csrf_token }}
        {% for field in form if field.name != 'csrf_token' %}
        <p>
            {{ field.label }}<br>
            {{ field }}
            {% if field.errors %}
                <ul class="alert alert-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </p>
        {% endfor %}
        <p>
            <input type="submit" value="Register">
        </p>
    </form>
{% endblock %}

{% block enter_2 %}
    <h2>Условие</h2>
    Создайте форму регистрации пользователя с использованием Flask-WTF. Форма должна
    содержать следующие поля:
    ○ Имя пользователя (обязательное поле)
    ○ Электронная почта (обязательное поле, с валидацией на корректность ввода email)
    ○ Пароль (обязательное поле, с валидацией на минимальную длину пароля)
    ○ Подтверждение пароля (обязательное поле, с валидацией на совпадение с паролем)
    После отправки формы данные должны сохраняться в базе данных (можно использовать SQLite)
    и выводиться сообщение об успешной регистрации. Если какое-то из обязательных полей не
    заполнено или данные не прошли валидацию, то должно выводиться соответствующее
    сообщение об ошибке.
    Дополнительно: добавьте проверку на уникальность имени пользователя и электронной почты в
    базе данных. Если такой пользователь уже зарегистрирован, то должно выводиться сообщение
    об ошибке.
{% endblock %}